#start-game {
  top: 40%;
  left: 40%;
  position: absolute;
}

#start-game button {
  font-color: white;
  font-size: 5em;
  border: none;
  background: '#ffffff';
  opacity: 0.65;

}

body {
  overflow: hidden;
}

body > img {
    opacity: 0.65;
    position: absolute;
    top: 0;
    z-index: -1;
  }

/*.container {
  height: 100%;
  width: 100%;
}*/

#canvas {
  height: 100%;
  width: 100%;
  bottom: 0px;
  z-index: 500;
}


