  <section id="players-profile">
<div class="container">
<!-- <h1> Welcome Back, <%= @player.username %>!</h1> -->
    <div class="header-player-stats">
      <h2> P </h2>
    </div>
    <%= render  partial: 'players/player_list', locals: { players: @won_against } %>

</div>
<div class="container">
    <div class="header-player-stats">
      <h2> Players You Won Against </h2>
    </div>
    <%= render  partial: 'players/player_list', locals: { players: @lost_against } %>
</div>
  </section>
